
<div class="super-bag spring-last-can">
    <div class="width-888 spring-last">
        <div class="spring-last-top">
            <div class="spring-last-top-logo">
                <img src="/assets/images/logo.png" alt=""/>
            </div>
            <div class="spring-last-top-choice">
                <ul>
                    <li class="one-choice">
                        <a href="/" class="bigger-choice">Home</a>
                    </li>
                    <li class="one-choice">
                        <a target="_blank" href="https://github.com/caicloud/cyclone/blob/master/docs/" class="bigger-choice">Blog</a>
                    </li>
                    <li class="many-chice">
                        <p class="bigger-choice">Docs</p>
                        <a target="_blank" href="https://github.com/caicloud/cyclone/blob/master/docs/design.md">Architecture</a>
                        <a target="_blank" href="https://github.com/caicloud/cyclone/blob/master/docs/installation.md">Installation Guide</a>
                        <a target="_blank" href="https://github.com/caicloud/cyclone/blob/master/docs/user_guide.md">User Guide</a>
                        <a target="_blank" href="https://github.com/caicloud/cyclone/blob/master/docs/ROADMAP.md">Roadmap</a>
                    </li>
                    <li class="many-chice">
                        <p class="bigger-choice">Community</p>
                        <a target="_blank" href="https://twitter.com/CycloneWorkflow">Twitter</a>
                        <a target="_blank" href="https://caicloud-cyclone.slack.com">Slack</a>
                        <a target="_blank" href="https://cyclone-users.googlegroups.com">Users Groups</a>
                        <a target="_blank" href="https://cyclone-dev.googlegroups.com">Developers Groups</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="spring-last-bottom">
            <p>Copyright © <span class="year-now">2019</span> Cyclone Authors. All rights reserved.</p>
        </div>
    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/index.js"></script>

