<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit"/>
  <meta name="force-rendering" content="webkit"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="google-site-verification" content="SwJ-c4JS67lh7pB9f5w1XUFIRncxY_oz2ALS46ofi-o" />

  <meta name="format-detection" content="telephone=no"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <link rel="mask-icon" href="/assets/images/logo-f.png">
  <link rel="shortcut icon" size="any" href="/assets/images/logo-f.png" type="image/x-icon" />

  <link rel="apple-touch-icon" href="/assets/images/logo_f_i.ico">

  <link rel="preload" href="/assets/js/jquery.min.js" as="script">
  <link rel="preload" href="/assets/js/index.js?v={{site.version}}" as="script">

  <meta property="og:image" content="/assets/images/logo-f.png">
  <link rel="stylesheet" href="/assets/main.css?v={{site.version}}">
  <title>Cyclone</title>
</head>
