

.super-bag{
  width: 100%;
}
.width-888{
  width:88.88%;
  margin:0 auto;
  max-width: 1280px;
}
.width-826{
  width:82.6388%;
  max-width: 39.6667rem;
  margin:0 auto;
}
.width-526{
    width:52.6388%;
    max-width: 33.3333rem;
    margin:0 auto;
}
.width-763,.width-763-change-more{
    width:76.3%;
    max-width: 36.6667rem;
    margin:0 auto;
}
.width-736{
    width:73.6%;
    max-width: 35.3333rem;
    margin:0 auto;
}
.bg-ss{
  background:  $color_8;
}
.h1-guide-road{
  font-family: $font_2;
  font-size: 1.4rem;
  color: $color_6;
  text-align: center;
}

// 头部菜单
.header-can,.choice-of-header-fixed{
  .logo-of-header{
      display: inline-block;
      width: 6.6667rem;
      height:1.6667rem ;
      img{
          height: 100%;
          width: auto;
      }
  }
  .choice-of-header{
      .choice-of-header-hidden{
          display: none;
          height: 3.3333rem;
      }
      a{
          padding-left:1.3333rem;
          margin-right:0.6667rem;
          display: inline-block;
          height: 3.3333rem;
          line-height: 3.3333rem;
          font-family: $font_1;
          color: $color_1;
          letter-spacing: 0.23px;
          font-size: 0.7rem;
          &:hover,&.just-this-page{
              color:$color_2;
          }
      }
  }
  .header-munu-can{
      @include flex();
      @include flex-justify-content(space-between);
      @include flex-align-items(center);
      height: 3.3333rem;
  }
}
.header-can-no-show{
  display: none;
}
.choice-of-header-fixed{
  position: relative;
  top:0;
  left: 0;
  right:0;
  bottom:0;
  height: 2.6667rem;
  overflow: hidden;
  z-index: 2;
  a{
      width:100%;
      display: block;
      padding-left: 0;
  }
  .top-header-oood{
      position: relative;
      height: 2.3333rem;
      .logo-of-header{
          margin-top:0.3333rem;
      }
      .logo-close-can{
          position: absolute;
          right:-0.6667rem;
          top:0;
          width:2.3333rem;
          height: 2.3333rem;
          background: url('images/ic_menu_normal.png') no-repeat center center;
          background-size: 100% 100%;
      }
  }
  &.choice-of-header-fixed-show{
      position: fixed;
      @include bg-color-change(0deg, #2B237C 0%, #2B237C 42%, #180D5B 100%);
      height: 100%;
      .top-header-oood{
          .logo-close-can{
              background: url('images/ic_close_normal.png') no-repeat center center;
              background-size: 100% 100%;
          }
      }
  }
}

// 尾部菜单
.spring-last-can{
  // background-image: -webkit-linear-gradient(0deg, #180D5B 0%, #387094 42%, rgba(80,227,194,0.48) 100%); /* Safari 5.1-6.0 */
  // background-image: -o-linear-gradient(0deg, #180D5B 0%, #387094 42%, rgba(80,227,194,0.48) 100%); /* Opera 11.1-12.0 */
  // background-image: -moz-linear-gradient(0deg, #180D5B 0%, #387094 42%, rgba(80,227,194,0.48) 100%); /* Firefox 3.6-15 */
  // background-image: linear-gradient(0deg, #180D5B 0%, #387094 42%, rgba(80,227,194,0.48) 100%); /* 标准语法 */
  @include bg-color-change(0deg, #180D5B 0%, #387094 63%, #3A7C93 100%);
  padding:1.7rem 0 0.6667rem 0;
  .spring-last{
      .spring-last-top{
          @include flex();
          @include flex-align-items(center);
          padding-bottom: 0.6667rem;
          .spring-last-top-logo{
              width:45%;
              height: 3.3333rem;
              // @include flex();
              // @include flex-justify-content(center);
              display: inline-block;
              img{
                  height: 100%;
              }
          }
          .spring-last-top-choice{
              width: 54%;
              display: inline-block;
              .bigger-choice{
                  font-family: $font_1;
                  font-size: 0.8667rem;
                  color: $color_9;
                  letter-spacing: 0.26px;
              }
              .one-choice{
                  margin-bottom: 0.8333rem;
              }
              .many-chice{
                  margin-bottom: 0.6667rem;
                  .bigger-choice{
                      padding-bottom: 0.1667rem;
                  }
                  a{
                      font-family: $font_1;
                      font-size: 0.5667rem;
                      color: $color_10;
                      letter-spacing: 0.68px;
                      line-height: 1.1rem;
                      display: block;
                  }
              }
              ul{
                  width: 100%;
                  @include flex();
                  .spring-last-top-choice-can{
                    width: 49.5%;
                    height: auto;
                    display: inline-block;
                    .no-pc-show{
                        display: none;
                    }
                  }
                  li{
                      width:100%;
                      height: auto;
                      display:block;
                  }
              }
          }
      }
      .spring-last-bottom{
          border-top:1px solid $color_11;
          p{
              padding-top:0.3333rem;
              font-family: $font_1;
              font-size: 0.5333rem;
              color: $color_12;
              line-height: 0.8667rem;
          }
      }
  }
}
// 页码
.pagination{
    @include flex();
    @include flex-justify-content(flex-end);
    @include flex-align-items(center);
    margin-bottom: 2rem;
    .page_number{
        height:1rem;
        margin:0 0.1667rem;
        width: 1rem;
        border:1px solid $grey-color;
        color: $grey-color;
        text-align: center;
        line-height: 1rem;
        border-radius: 0.0667rem;
        &.has-hover:hover{
            color: $color_3;
            background: $color_2;
            border-color:$color_2;
        }
    }
    .previous,.next{
        height: 1rem;
        padding:0 0.3333rem;
        border-radius: 0.0667rem;
        line-height: 1rem;
        color:$grey-color;
    }
    span.previous,span.next{
        color:$sun_0;
    }
    a.previous,a.next{
        &.has-hover:hover{
            color: $color_2;
        }
    }
    .page_number-now{
        color:$color_2;
        border-color: $color_2;
    }
}